fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black
}
legend {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid black
}
form input{
  position: relative;
  right: 0;
  width: 100%;
}
#remove_button{
  postion:relative;
  width:100%
}
